.header {
  background-color: #00000057;
  backdrop-filter: blur(10px);
  z-index: 1;
  position: relative;
  position: fixed;
  inset-inline: 0;

  &__container {
    margin: auto;
    width: inherit;
    max-width: inherit;
    margin-block: 27px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-start;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    button.button--secondary {
      margin-inline-start: 40px;
    }
  }
  button.button--secondary {
    display: inline-block;
    background-color: #ffffff1a;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px;
    color: inherit;
    transition: linear 0.1s;
    &:hover {
      border-radius: 8px;
      padding: 5px;
      border: 4px solid #fff;
    }
  }
  .navbar__mobile {
    display: none;
  }
  .navbar__item {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    list-style: none;
    a {
      text-decoration: none;
      display: inline-block;
      padding-inline: 12px;
      line-height: 40px;
      color: inherit;
      list-style: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .navbar__logo {
    margin-block: auto;
    margin-inline: 0;
  }
  .navbar__logo img {
    cursor: pointer;
    display: block;
  }
}
@media screen and (max-width: 1224px) {
  .header {
    ul {
      button.button--secondary {
        margin-inline-start: 0px;
      }
    }
    &__container {
      padding-inline: 16px;
      justify-content: flex-start;
    }
    .navbar__item {
      a {
        padding-inline: 8px;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .header {
    background-color: #00000057;
    backdrop-filter: blur(10px);
    &__container {
      justify-content: space-between;
    }
    .navbar__mobile {
      vertical-align: middle;
      display: inline-block;
      + ul {
        display: none;
      }
      &:hover {
        + ul {
          background-color: #00000057;
          backdrop-filter: blur(10px);
          padding: 16px;
          justify-content: flex-end;
          position: absolute;
          display: flex;
          flex-direction: column;
          inset-block-start: 72px;
          inset-inline-end: 0px;
          .navbar__item {
            text-align: right;
          }
        }
      }
    }
  }
}
