@import "./components/layout/header.scss";
@import "./components/layout/hero.scss";
@import "./components/layout/footer.scss";
@import "./components/layout/faq.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$grayChoiz: #424b54;

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
#consult{
  margin-block-start: -150px;
}
.test {
  background-color: aquamarine;
  height: 100px;
  width: 100px;
}
.wrapper {
  position: relative;
  max-width: 68rem;
  width: 100%;
  margin-inline: auto;
  margin-block: 0;
}
.wrapperSection {
  max-width: 700px;
  margin-inline: auto;
  margin-block: 0;
}
button {
  cursor: pointer;
}
@media screen and (max-width: 960px) {

  .wrapper{
    width: auto;
  }
}
